.container-article {
  display: flex;
  margin: 2% 5% 3% 5%;
}

.article-title {
  color: #449DD1;
}

.article-content {
 text-align: justify;
}


.image-responsive
{
    width: 100%;
    height: auto;
    text-align: center;
}