

.title-header {
    color: #EFF2C0;
    text-align: center;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #30343F;
}

.header a, .header a:hover, .header a:focus, .header a:active {
    text-decoration: none;
    color: inherit;
}


.menu li{
    text-decoration: none;
    color: #EFF2C0;
    display: inline-block;
    padding: 0 50px;
    font-size: 20px;
}



@media screen and (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .menu li {
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
    }

}

