@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,100&display=swap');

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-background {
  background-color: black;
}

.header {
  padding: 25px;
}

h1 {
  color: wheat;
  padding: 0.5em 0.5em;
  font-size: 35px;
}

p {
  color: whitesmoke;
  font-size: 25px;
}

.home-container {
  text-align: center;
  height: 100vh;
  background-color: black;
}

.img-responsive {
  margin-top: 5vh;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.title-header {
  //create responsive title header

  font-size: calc(25px + 1.5vw);
  color: wheat;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;

}


.navbar {
  //create responsive navbar
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  width: 100%;
  top: 0;
  left: 0;
}


.header-button {
  color: whitesmoke;
  background-color: black;
  padding: 10px;
  border-bottom: 1px whitesmoke solid;
  font-family: 'Overpass', sans-serif;
  font-size: calc(10px + 0.5vw);

}

.header-divider {
  height: 1px;
  background-color: wheat;
  width: 50%;
  align-items: center;
  margin-top: 12vh;
  margin-bottom: 10vh;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 15vh;
  margin-right: 15vh;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .container {
    text-align: center;
    flex-direction: column;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 0 1 calc(24% - 1em);
  max-height: 500px;
  margin: 10px 25px 25px 5px;
  padding: 10px;
  background-color: whitesmoke;
  border: solid 2px wheat;
  border-radius: 10px;
}

.card-title{
  font-size: 25px;
  font-family: 'Overpass', sans-serif;
  color: wheat;
}
.card-text p{
  color: black;
    font-size: 100%;
}


.card-content a, .card-content a:hover, .card-content a:focus, .card-content a:active {
  text-decoration: none;
  color: inherit;
}


.card-image-responsive {
  //put image in the top of the card and make it responsive
  width: 100%;
  height: auto;
  text-align: center;
}

.footer-text p{
    color: wheat;
    font-size: calc(5px + 0.5vw);
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.footer-icons  {
    display: flex;
    justify-content: center;
}
.icon {
  margin-right: 10px;
}

article {
  margin-left: 30vh;
  margin-right: 30vh;
}

.article-image {
  width: 100%;
  height: auto;
  text-align: center;
  border-radius: 25px;
}

.article-title {
  text-align: center;
}
